.container1{
    text-align: center;
}
.blogs{
    width: 300px;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    background-color:whitesmoke;
    
  }
  .blogpost{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 40px;
  }
  .container2{
    margin-top: 50px;
  }
  button{
    background-color: orange;
    border-radius: 10px;
    border-color: orange;
  }